
{% extends 'Universal_index.html' %}
{% load static %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg)">
    	<div class="auto-container">
        	<h2>Blog 2 Columns</h2>
            <ul class="page-breadcrumb">
            	<li><a href="index-2.html">home</a></li>
                <li>Blog 2 Columns</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Our Blogs Section -->
	<section class="our-blogs-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-9.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-10.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-11.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-12.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-13.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-14.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-15.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
				<!--News Block Two -->
				<div class="news-block-two style-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-16.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-box clearfix">
								<div class="posted-date">25 March 2019</div>
								<ul class="post-meta">
									<li>By :  Admin</li>
									<li>interior, furniture</li>
									<li>Comments: 8</li>
								</ul>
							</div>
							<div class="lower-box">
								<h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
								<div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. dolore magna aliqua. Ut enim ad minim veniam.</div>
								<a href="blog-detail.html" class="theme-btn read-more">Read more</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<!--Styled Pagination-->
			<ul class="styled-pagination text-center">
				<li><a href="#" class="active">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#"><span class="fa fa-angle-right"></span></a></li>
			</ul>                
			<!--End Styled Pagination-->
			
		</div>
	</section>
	<!-- End Our Blogs Section -->
	{% endblock %}