{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<title>Pixels Lab</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="top-left clearfix">
                    <div class="text"><span class="icon flaticon-call-answer"></span> Need help? Call Us Now : <a href="tel:+91 7899999578" class="number">+91 7899999578</a></div>
					
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
					<ul class="info-list">
                        <li><a href="{% url 'about' %}">Our Story</a></li>
                        <li><a href="{% url 'about' %}">Inspiration</a></li>
						<li class="quote"><a href="{% url 'contact' %}">Get Free Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo"><a href="{% url 'index_2' %}"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="{% url 'index' %}">Home</a>
                                       <!-- <ul>
                                            <li><a href="{% url 'index' %}">Home page 01</a></li>
                                            <li><a href="{% url 'index_2' %}">Home page 02</a></li>
                                            <li><a href="{% url 'index_3' %}">Home page 03</a></li>
											<li><a href="{% url 'index_4' %}">Home page 04</a></li>
                                            <li><a href="{% url 'index_5' %}">Home page 05</a></li>
                                            <li class="dropdown"><a href="index-2.html">Header Styles</a>
                                                <ul>
                                                    <li><a href="{% url 'index' %}">Header Style One</a></li>
                                                    <li><a href="{% url 'index_2' %}">Header Style Two</a></li>
                                                    <li><a href="{% url 'index_3' %}">Header Style Three</a></li>
													<li><a href="{% url 'index_4' %}">Header Style Four</a></li>
                                                    <li><a href="{% url 'index_5' %}">Header Style Five</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
									<li class="dropdown"><a href="{% url 'about' %}">About us</a>
                                        <ul>
                                            <li><a href="{% url 'about' %}">Our Introduction</a></li>
											<li><a href="{% 'team.html">Our Team</a></li>
											<li><a href="{% 'testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="{% url 'services_dark' %}">Services</a>
                                        <ul>
											<li><a href="{% url 'services_dark' %}">Services Layout 01</a></li>
											<li><a href="{% url 'services_light' %}">Services Layout 02</a></li>
                                            <li><a href="{% url 'residental_interior' %}">Residential Interior</a></li>
                                            <li><a href="{% url 'commercial_interior' %}">Commercial Interior</a></li>
                                            <li><a href="{% url 'office_interior' %}">Office Design</a></li>
                                            <li><a href="{% url 'hospitality_design' %}">Hospitality Design</a></li>
                                            <li><a href="{% url 'modern_furniture' %}">Modern Furniture</a></li>
											<li><a href="{% url 'modular_kitchen' %}">Modular Kitchen</a></li>
											<li><a href="{% url 'wardrobe' %}">Wardrobe</a></li>
											<li><a href="{% url 'false_celling_design' %}">False Celling Design</a></li>
                                        </ul>
                                    </li>
                                   <!--- <li class="dropdown"><a href="projects-classic.html">Projects</a>
                                        <ul>
                                            <li><a href="projects-classic.html">Projects Classic</a></li>
                                            <li><a href="projects-masonry.html">Project Masonry</a></li>
                                            <li><a href="projects-fullwidth.html">Project Full Screen</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-2.html">blog 2 column</a></li>
                                            <li><a href="blog-detail.html">Blog Details</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Main shop page</a></li>
                                            <li><a href="product-detail.html">Product Detail Page</a></li>
                                            <li><a href="cart-page.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li> --->	
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
						
						<!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index-2.html"><img src="images/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>






{% block content %}
{% endblock %}






    <!--Main Footer-->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index-2.html"><img src="{% static 'images/footer-logo.png' %}" alt="" /></a>
                                    </div>
                                    <div class="text">Pixels lab has been most trusted editor service in the market</div>
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/Pixels-Lab-104624688631602"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Quick links</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About Pixels Lab</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms & Conditionis</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->

                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h2>Contact Info</h2>
                                    <div class="widget-content">
                                        <a href="tel:+91 78999 99578" class="contact-number">+91 78999 99578</a>
                                        <ul>
                                            <li>Bangalore India</li>
                                            <li>Email :<a href="mailto:info@pixelslab.in">info@pixelslab.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                           <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <h2>Newsletter</h2>
                                    <div class="text">Get Special offers & Discounts</div>
                                    <!-- Newsletter Form -->
                                    <div class="newsletter-form">
                                        <form method="post" action="templateshub.net">
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Enter your email address" required>
                                                <button type="submit" class="theme-btn btn-style-one"><span class="txt">Subscribe</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="templateshub.net">Copyright</a></div>
                </div>
                <div class="pull-right">
                    <a href="templateshub.net">Terms & Conditions</a>
                </div>
            </div>
            
        </div>
    </footer>
    
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="templateshub.net">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Home Interiors</a></li>
                <li><a href="#">Offices Interiors</a></li>
                <li><a href="#">Showroom Interiors</a></li>
                <li><a href="#">Building Interiors</a></li>
                <li><a href="#">Shops Interiors</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

<!-- stella-orre/"{% url 'about' %}"  30 Nov 2019 03:46:11 GMT -->
</html>